/*
* IMPORTANT README!
* A mobile app Webview does NOT have many of the built in baseline styles that
* a browser normally would. This means you have to supply your own.
*/
script {
    display:none !important;
  }
* {
  font-family: inherit;
  line-height: 125%;
  margin: 0;
  padding: 0;
}
html {
/*
!IMPORTANT README ABOUT FONTS!
62.5% ~ = 10px
This is to make calculations nice. Set the actual
desired measuements in the body selector below.
When sizing fonts use steps of +2... 12,14,16,18,20,22,24...
Minimum size is 12.
*/
font-family: sans-serif;
font-size: 62.5%;
line-height: 78.125%;
-webkit-text-size-adjust: 100%;
}
body {
  color: #222222;
  font-size: 1.6rem;
  /* in the absence of fontIndex, we assume 160% */
  /* to calculate children of the body, (100 / %needed = 16px / px desired) */
  /* so for 12px (100 / x = 16 / 12), x = 75 */
  /* or in modern terms, font-size:calc(100% * desiredFontSize / baseFontSize) */
  /* aka calc(100% * 12 / 16) = 75 */
  line-height: 125%;
  margin: 0;
  padding: 0;
}
body > div {
  max-width: 100%;
}
h1 {
  font-size: 2.4rem;
  margin-bottom: .7em;
  margin-top: .7em;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.8rem;
}
h4 {
  font-size: 1.7rem;
}
a[x-apple-data-detectors] {
  /* tell iOS not to style phone numbers */
  color: inherit !important;
  font-family: inherit !important;
  font-size: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
  text-decoration: none !important;
}
li {
  list-style-position: inside;
}
/* END RESET CSS END RESET CSS END RESET CSS*/
/* END RESET CSS END RESET CSS END RESET CSS*/
/* GLOBAL */
html {
  background: #444444;
}
body {
  font-family: arial, verdana, sans-serif;
}
a {
  color: #e41b5b;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
blockquote {
  font-size: 2rem;
  font-style: italic;
  font-weight: 700;
  margin: 0 0 1em 0;
}
p {
  margin-bottom: 1em;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
}
nav li {
  flex: 0 1 auto;
  list-style: none;
  padding: .3rem 0;
}
nav a {
  display: inline-block;
  line-height: 4.4rem;
  outline: 0;
  padding: 0 .5em;
}
/* CONTENT MAIN */
#contentMain {
  background: #ffffff;
}
#contentMain main {
  display: block;
  /* ^ needed to fix IE's derp */
  max-width: 92rem;
  margin: 0 auto;
  padding: 5rem 0;
  width: 90%;
}
