<link rel="import" href="../../bower_components/polymer/polymer.html">
<dom-module id="blyonbb-projects-websites">
  <template>
    <style>
    .websites .listItem {
      background: #000000;
      padding: .5rem;
      margin: 0 0 3rem 0;
      overflow: hidden;
    }
    .websites .listItem img {
      float: left;
      width: 100%;
    }
    .websites .listItem ul {
      box-sizing: border-box;
      clear: both;
      color: #dddddd;
      padding: 2rem 3rem 2rem 3rem;
      width: 100%;
    }
    </style>
    <div class="about">
      <link rel="import" href="../../components/blyonbb/blyonbb-projects-nav.html">
      <blyonbb-projects-nav></blyonbb-projects-nav>
      <div id="subcontentMain">
        <div class="websites">
          <div class="listItems">
            <div class="listItem">
              <img src="../../public/images/w_c_ee10.jpg" />
              <ul>
                <li>Millions of registered members</li>
                <li>Subscription based site</li>
                <li>Over 100,000 lines of CSS</li>
                <li>Hundreds of different page types with multiple rotations each</li>
                <li>Supports 7+ different user-generated content types</li>
                <li>Unique SEO challenges</li>
                <li>Custom-built CMS</li>
              </ul>
            </div>
            <div class="listItem">
              <img src="../../public/images/w_c_mns1.jpg" />
                <ul>
                  <li>Built with components based upon design patterns</li>
                  <li>Bespoke flat file based CMS</li>
                  <li>Integrated with Wordpress</li>
                  <li>Custom VPS server setup</li>
                </ul>
            </div>
            <div class="listItem">
              <img src="../../public/images/w_c_sdfcnew.jpg" />
              <ul>
                <li>Maintained and replaced legacy undocumented e-commerce system</li>
                <li>Created event and social media portals using Wordpress and other tools</li>
                <li>Provided product and event photography for use on the website</li>
              </ul>
            </div>
            <div class="listItem">
              <img src="../../public/images/w_c_x2.jpg" />
              <ul>
                <li>Responsive redesign of an existing site</li>
                <li>Large focus on clarified & succinct content & navigation</li>
                <li>Clear CTAs (calls to action) presented throughout the design</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>
  <script>
    Polymer({
      is: "blyonbb-projects-websites"
    });
  </script>
</dom-module>
