<link rel="import" href="../../bower_components/polymer/polymer.html">
<dom-module id="blyonbb-about">
  <template>
    <div class="about">
      <link rel="import" href="../../components/blyonbb/blyonbb-about-nav.html">
      <blyonbb-about-nav></blyonbb-about-nav>
      <div id="subcontentMain">
        <div class="aboutMe">
          <blockquote>Design is everywhere. Look at the computing device in front of you, your car, and your clothes. Someone designed those things.</blockquote>
          <p>As a person with an eye for detail the design profession seemed like a perfect match for me from an early age. I love to research, plan, and create. I can't imagine doing anything else with my life. I enjoy discussing modern design trends, learning new techniques, and figuring out how things are built and work. Reading design and technology news on a daily basis is an important part of my life.</p>
          <p>Among other things I have played with css3, html5, javascript, responsive &amp; mobile websites, parallax, LAMP, MEAN, containers, MVC, and mobile apps.</p>
          <p>Every weekend I bake a new variety of cookie and share the experiment with my coworkers. Baking is a kind of science with experiments and tasty metrics!</p>
          <p>If I had to pick a few of my favorite things other than a computer, they would be:</p>
          <ul>
            <li>CMYK</li>
            <li>Frisbees</li>
            <li>Volleyball</li>
            <li>Cars</li>
            <li>Bicycles</li>
            <li>Music</li>
          </ul>
        </div>
      </div>
    </div>
  </template>
  <script>
    Polymer({
      is: "blyonbb-about"
    });
  </script>
</dom-module>
