<link rel="import" href="../../bower_components/polymer/polymer.html">
<dom-module id="blyonbb-projects-watches">
  <template>
    <style>
      .watches .watch {
        display: inline-block;
        height: 180px;
        margin: 10px 10px 0px 0px;
        width: 180px;
      }
      .watches img {
        height: 180px;
        width: 180px;
      }
    </style>
    <div class="about">
      <link rel="import" href="../../components/blyonbb/blyonbb-projects-nav.html">
      <blyonbb-projects-nav></blyonbb-projects-nav>
      <div id="subcontentMain">
        <div class="watches">
          <h3>Samsung Gear S2</h3>
          <hr/>
          <div class="watch">
            <img src="../../public/images/watches/dnu01v001.png" />
            <p>BLW Classy Digital</p>
        </div>
      </div>
    </div>
  </template>
  <script>
    Polymer({
      is: "blyonbb-projects-watches"
    });
  </script>
</dom-module>
