<link rel="import" href="../../bower_components/polymer/polymer.html">
<dom-module id="blyonbb-homepage">
  <template>
    <div class="homepage">
      <p>Welcome! I have over 10 years of history as a professional coder and designer in multiple industries. The bulk of my experience is website development but I've also worked as a graphic designer, photographer, apparel designer, and architectural designer.</p>
      <p>This portfolio website also hosts some of my projects, such as some apps I'm building for Samsung's Tizen based smartwatches.</p>
    </div>
  </template>
  <script>
    Polymer({
      is: "blyonbb-homepage"
    });
  </script>
</dom-module>
