<link rel="import" href="../../bower_components/polymer/polymer.html">
<dom-module id="blyonbb-about-this-website">
  <template>
    <div class="about">
      <link rel="import" href="../../components/blyonbb/blyonbb-about-nav.html">
      <blyonbb-about-nav></blyonbb-about-nav>
      <div id="subcontentMain">
        <div class="aboutThisWebsite">
          <p>This website was created by hand in very little time. It is as minimalist and to the point as possible. Feature creep is easy but minimalism is challenging.</p>
          <p>This website was recently migrated from a VPS hosted Meteor app into a git hosted Polymer project.</p>
        </div>
      </div>
    </div>
  </template>
  <script>
    Polymer({
      is: "blyonbb-about-this-website"
    });
  </script>
</dom-module>
