<link rel="import" href="../../bower_components/polymer/polymer.html">
<dom-module id="blyonbb-about-my-designs">
  <template>
    <div class="about">
      <link rel="import" href="../../components/blyonbb/blyonbb-about-nav.html">
      <blyonbb-about-nav></blyonbb-about-nav>
      <div id="subcontentMain">
        <div class="aboutMyDesigns">
          <p>All good design comes from proper planning. Knowing a project's constraints leads to efficient, cost effective, feasible, and sustainable designs. Using a one-size-fits-all approach isn't just inefficient, its detrimental. I start by analyzing your project needs and coming up with a few good options for how to proceed. Most clients want to maximize their website's ROI (return on investment) and lower their maintenance costs.</p>
        </div>
      </div>
    </div>
  </template>
  <script>
    Polymer({
      is: "blyonbb-about-my-designs"
    });
  </script>
</dom-module>
