<link rel="import" href="../../bower_components/polymer/polymer.html">
<dom-module id="blyonbb-projects-moodboards">
<style>
.moodboards .listItem {
  display: inline-block;
  height: 430px;
  margin: 0 2em 2em 0;
  width: 265px;
}
/*
  This would normally go inside the template tag instead of the dom-module,
  but doing that broke the polymer ready fetch of the pinterest javascript.
  Since doing this isn't forbidden, merely deprecated, I'll keep doing this.
 */
</style>
  <template>
    <div class="about">
      <link rel="import" href="../../components/blyonbb/blyonbb-projects-nav.html">
      <blyonbb-projects-nav></blyonbb-projects-nav>
      <div id="subcontentMain">
        <div class="moodboards">
          <div class="listItem">
            <a data-pin-board-width="400" data-pin-do="embedBoard" data-pin-scale-height="320" data-pin-scale-width="80" href="https://www.pinterest.com/designbybrandon/website-design-inspiration/"></a>
          </div>
          <div class="listItem">
            <a data-pin-board-width="400" data-pin-do="embedBoard" data-pin-scale-height="320" data-pin-scale-width="80" href="https://www.pinterest.com/designbybrandon/mobile-design-inspiration/"></a>
          </div>
          <div class="listItem">
            <a data-pin-board-width="400" data-pin-do="embedBoard" data-pin-scale-height="320" data-pin-scale-width="80" href="https://www.pinterest.com/designbybrandon/graphic-design-inspiration/"></a>
          </div>
          <div class="listItem">
            <a data-pin-board-width="400" data-pin-do="embedBoard" data-pin-scale-height="320" data-pin-scale-width="80" href="https://www.pinterest.com/designbybrandon/packaging-design-inspiration/"></a>
          </div>
          <div class="listItem">
            <a data-pin-board-width="400" data-pin-do="embedBoard" data-pin-scale-height="320" data-pin-scale-width="80" href="https://www.pinterest.com/designbybrandon/photographic-inspiration/"></a>
          </div>
          <div class="listItem">
            <a data-pin-board-width="400" data-pin-do="embedBoard" data-pin-scale-height="320" data-pin-scale-width="80" href="https://www.pinterest.com/designbybrandon/colorways/"></a>
          </div>
        </div>
      </div>
    </div>
  </template>
  <script>
    Polymer({
      is: "blyonbb-projects-moodboards",
      ready: function(source, callback) {
        var script = document.createElement('script');
        var prior = document.getElementsByTagName('script')[0];
        script.async = 1;
        prior.parentNode.insertBefore(script, prior);
        script.src = 'https://assets.pinterest.com/js/pinit_main.js';
      }
    });
  </script>
</dom-module>
