<link rel="import" href="../../bower_components/polymer/polymer.html">
<dom-module id="blyonbb-projects">
  <template>
    <div class="about">
      <link rel="import" href="../../components/blyonbb/blyonbb-projects-nav.html">
      <blyonbb-projects-nav></blyonbb-projects-nav>
      <div id="subcontentMain">
        <div class="projects">
          In this section you will find various projects which I have worked on.
        </div>
      </div>
    </div>
  </template>
  <script>
    Polymer({
      is: "blyonbb-projects"
    });
  </script>
</dom-module>
