<!-- shared-styles.html -->
<dom-module id="blyonbb-subcontentnav">
  <template>
    <style>
    .subcontentNav {
      background: #dddddd;
      border-radius: .4rem;
      display: inline-block;
      margin-bottom: .8rem;
      padding: 0 .4em;
      position: relative;
      top: -2rem;
    }
    .subcontentNav li {
      line-height: 3.4rem;
      padding: 0;
    }
    .subcontentNav a {
      color: #888888;
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 3.4rem;
    }
    .subcontentNav a:hover {
      color: #e41b5b;
      text-decoration: none;
    }
    </style>
  </template>
</dom-module>
