<link rel="import" href="../../bower_components/polymer/polymer.html">
<dom-module id="blyonbb-routes">
  <template>
    <app-router>
      <app-route path="/" import="pages/blyonbb/blyonbb-homepage.html"></app-route>
      <app-route path="/about/" import="pages/blyonbb/blyonbb-about.html"></app-route>
      <app-route path="/about/my-designs/" import="pages/blyonbb/blyonbb-about-my-designs.html"></app-route>
      <app-route path="/about/this-website/" import="pages/blyonbb/blyonbb-about-this-website.html"></app-route>
      <app-route path="/about/testimonials/" import="pages/blyonbb/blyonbb-about-testimonials.html"></app-route>
      <app-route path="/projects/" import="pages/blyonbb/blyonbb-projects-moodboards.html"></app-route>
      <app-route path="/projects/watches/" import="pages/blyonbb/blyonbb-projects-watches.html"></app-route>
      <app-route path="/projects/websites/" import="pages/blyonbb/blyonbb-projects-websites.html"></app-route>
      <app-route path="/contact/" import="pages/blyonbb/blyonbb-contact.html"></app-route>
      <app-route path="/reading-list/" import="pages/blyonbb/blyonbb-recommended.html"></app-route>
    </app-router>
  </template>
  <script>
    Polymer({
      is: "blyonbb-routes"
    });
  </script>
</dom-module>
