<link rel="import" href="../../bower_components/polymer/polymer.html">
<dom-module id="blyonbb-header">
  <template>
  <style>
  #headerMain {
    background: #222222;
    border-bottom: .5rem solid #e41b5b;
  }
  #headerMain header {
    max-width: 92rem;
    margin: 0 auto;
    width: 90%;
  }
  #headerMain a {
    color: #ffffff;
    font-size: 1.8rem;
    text-decoration: none;
  }
  #headerMain li:first-child a {
    font-family: Georgia,'Times New Roman','Times',serif;
    font-size: 2.4rem;
    margin-left: -.5em;
  }
  #headerMain a:hover {
    color: #e41b5b;
  }
  </style>
  <div id="headerMain">
    <header>
      <nav>
        <ul>
          <li><a href="#!/">BML</a></li>
          <li><a href="#!/about/">About</a></li>
          <li><a href="#!/projects/">Projects</a></li>
          <li><a href="#!/contact/">Contact</a></li>
          <li><a href="#!/reading-list/">Reading List</a></li>
        </ul>
      </nav>
    </header>
  </div>
  </template>
  <script>
    Polymer({
      is: "blyonbb-header"
    });
  </script>
</dom-module>
