<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../styles/blyonbb/blyonbb-subcontentnav.html">
<dom-module id="blyonbb-projects-nav">
  <template>
    <style include="blyonbb-subcontentnav"></style>
    <nav class="subcontentNav">
      <ul>
        <li><a href="#!/projects/">Moodboards</a></li>
        <li><a href="#!/projects/websites/">Websites</a></li>
        <li><a href="#!/projects/watches/">Watches</a></li>
      </ul>
    </nav>
  </template>
  <script>
    Polymer({
      is: "blyonbb-projects-nav"
    });
  </script>
</dom-module>
