<link rel="import" href="../../bower_components/polymer/polymer.html">
<dom-module id="blyonbb-footer">
  <template>
    <style>
    #footerMain footer {
      color: #ffffff;
      font-size: 1.4rem;
      max-width: 92rem;
      margin: 0 auto;
      padding: 1em 0;
      width: 90%;
    }
    </style>
    <div id="footerMain">
      <footer>
        &copy; 2017 <a href="mailto:%62ml%79on@g%6Dail%2E%63om">Brandon Lyon</a>
      </footer>
    </div>
  </template>
  <script>
    Polymer({
      is: "blyonbb-footer"
    });
  </script>
</dom-module>
