<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../styles/blyonbb/blyonbb-subcontentnav.html">
<dom-module id="blyonbb-about-nav">
  <template>
    <style include="blyonbb-subcontentnav"></style>
    <nav class="subcontentNav">
      <ul>
        <li><a href="#!/about/">Me</a></li>
        <li><a href="#!/about/my-designs/">My Designs</a></li>
        <li><a href="#!/about/this-website/">This Website</a></li>
        <li><a href="#!/about/testimonials/">Testimonials</a></li>
      </ul>
    </nav>
  </template>
  <script>
    Polymer({
      is: "blyonbb-about-nav"
    });
  </script>
</dom-module>
